build/${build.artifact}
/build/${build.artifact}
/build*
/target
/target/*
/target/classes
/target/.class
/.classpath
/.project
/.settings
/.settings/*
/.surefire
/bin
/.class
/bin/*
/classes
/classes/*
/.android
/.android/*
/.netbeans
/.netbeans/*
/AppData
/AppData/*
/Desktop
/Desktop/*
/.metadata
/.metadata/*
/build/
