<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app >
   <distributable/>

   <servlet>
        <servlet-name>controlador</servlet-name>
        <servlet-class>br.com.exemplo.vendas.apresentacao.web.Controller</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>controlador</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

</web-app>